body {
    background-color:ivory;
}
.divi{
    height: 200px;
    width: 200px;
    border-style: dotted;
    border-width: 2px;
    background-image: url(https://www.hillspet.co.uk/content/dam/cp-sites/hills/hills-pet/en_us/exported/cat-care/healthcare/images/seniorCatBrainAging.jpg);
    background-color: orange;
  

}
h1{
    color: gray;
    font-size: 35px;
}
p{
    color: darkblue;
    background-color: lavender;
    font-size: 16px;
}


ol {
    list-style-type: lower-alpha;
    color:gray;
    
}

ul{
    list-style-type: square;
    color:gray

}
.divinity{
    background-color: black;
    border-style: dotted;
    border-width: 3px;
   border-color: yellow;
}
.link{
    background-color: aqua;
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 50px;
}
aside{
    float:right;
    background-color:coral
}
footer{
    background-color:cadetblue
    
}
header{
    background-color:aquamarine
}
nav{
    background-color:blueviolet
}
section{
    background-color:thistle
}
